.portfolio-info
    width: 100%
    border-radius: 20px
    background: #fff
    padding: 16px
    margin-right: 20px
    width: 320px
    &__block
        display: flex
        flex-direction: column
        padding: 16px
    &__balance
        display: flex
        flex-direction: column
    &__sum
        font-size: 24px
        font-weight: 600
    &__24h
        color: rgba(220,38,38,1)
        span
            background: rgba(254,226,226,1)
            padding: 4px 
            color: rgba(220,38,38,1)