body{
    padding: 0;
    margin: 0;
}
*{
    box-sizing: border-box;
}
.wrapper {
    display: flex;
}
.sidebar{
    width: 260px;
    background: #F3F5F7;
    height: 100vh;
    margin-right: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar ul {
    list-style: none;
}
.sidebar ul li a{
    font-size: 24px;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 600;
}
.sidebar ul li:not(:last-child){
    margin-bottom: 30px;
}
.sidebarMenu{
    padding-left: 0;
}
.createBoard {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    background: #2D4ACD;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: 300;
    padding: 18px 4px;
    text-align: center;
    cursor: pointer;
}
.create-board{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .4);
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 6px;
    display: none;
}
.create-board__active{position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .4);
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 6px;
    display: block;
}
.create-board__label{
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
    display: block;
    margin-bottom: 20px;
}
.create-board__input{
    width: 240px;
    padding: 8px 14px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 6px;
}
.create-board__btn{
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    background: #2D4ACD;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 300;
    width: max-content;
    padding: 12px 60px;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
}
.sidebar-board-list{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.sidebar-board-item{
    background: #fff;
    border-radius: 6px;
    padding: 16px 20px;
    font-size: 18px;
    cursor: pointer;
}
.sidebar-board-item:not(:last-child){
    margin-bottom: 14px;
}
.board__title{
    font-size: 48px;
}
.board__subtitle{
    font-family: sans-serif;
    color: rgba(0, 0, 0, .5);
}
.board__subtitle span {
    color: #2D4ACB;
    background: #F3F5F7;
    padding: 5px 10px;
}
.board__listTitle{
    font-size: 20px;
}
.board-list{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 20px
}
.board-list__title{
    border-radius: 5px;
    padding: 14px 16px;
    background: #F2F4F5;
    font-size: 18px;
    font-family: sans-serif;
    cursor: pointer;
    border: none;
    width: 100%;
}
.board-list__createCard{
    background: transparent;
    border: dashed #e7e7e7;
    border-radius: 6px;
    margin-top: 20px;
    padding: 10px 16px;
    text-align: center;
    cursor: pointer;
    font-size: 24px;
}
.board-list__cardCreate{
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    background: rgba(0, 0, 0, .05);
    border-radius: 6px;
    padding: 20px;
    display: none;
}
.board-list__cardCreate--active{
    display: block;
}
.board-list__input{
    width: 100%;
    font-size: 16px;
    padding: 9px 20px;
    border-radius: 6px;
    border: 1px solid #fff;
    margin-bottom: 10px;
}
.board-list__cardBtn{
    width: 100%;
    text-decoration: none;
    color: #fff;
    background: #2D4ACD;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: 300;
    padding: 14px 4px;
    text-align: center;
    cursor: pointer;
}

.create-item{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .4);
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 6px;
    display: none;
}
.create-item__active{position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .4);
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 6px;
    display: block;
}
.create-item__label{
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
    display: block;
    margin-bottom: 20px;
}
.create-item__input{
    width: 240px;
    padding: 8px 14px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 6px;
}
.create-item__btn{
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    background: #2D4ACD;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 300;
    width: max-content;
    padding: 12px 60px;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
}