body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
*{
    box-sizing: border-box;
}
.wrapper {
    display: flex;
    overflow: hidden;
    background: #0C1643;
}

.createBoard__button {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    background: #0C1643;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: 300;
    padding: 16px 4px;
    text-align: center;
    cursor: pointer;
    width: 200px;
    height: max-content;
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.sidebar-board-item:not(:last-child){
    margin-bottom: 14px;
}


.create-item{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .4);
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 6px;
    display: none;
}
.create-item__active{position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .4);
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 6px;
    display: block;
}
.create-item__label{
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
    display: block;
    margin-bottom: 20px;
}
.create-item__input{
    width: 240px;
    padding: 8px 14px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 6px;
}
.create-item__btn{
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    background: #2D4ACD;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 300;
    width: max-content;
    padding: 12px 60px;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
}




.chart-circle{
    margin: 0 auto;
    width: 100% !important;
    height: auto !important;
}


